#header {
  background-color:#00FF99;
  font-weight:bold;
  /*color:green;  */
}

.ok {
  color:black;
}

.err {
  font-weight:bold;
  color:red;
}

.unknown {
  background-color: gray;
}

.check {
  border:1px solid;
}

.c_name {
  text-align: center;
  min-width: 5em;
  float: left;
}

.out {
  margin: 2px;
  padding: 0;
  /* min-width: 10em; */
  float: left;
  background-color: gray;
  font-size: 50%;
}

.check:after {
  content: "";
  display: table;
  clear: both;
}

.checksep {
    margin-bottom: 0.1em;
}
