#header {
  background-color:#00FF99;
  font-weight:bold;
  /*color:green;  */
}

div.ok {
  color:black;
}

div.err {
  font-weight:bold;
  color:red;
}

div.unknown {
  background-color: gray;
}

div.check {
  border:1px solid;
}

div.c_name {
  text-align: center;
  min-width: 5em;
  float: left;
}

.out {
  margin: 2px;
  padding: 0;
  min-width: 10em;
  float: left;
  background-color: gray;
  font-size: 50%;
}

div.check:after {
  content: "";
  display: table;
  clear: both;
}

.checksep {
    margin-bottom: 0.1em;
}
